Package: com.ps.ytlegacy
Name: YouTube Legacy
Version: 1.4.0
Architecture: iphoneos-arm
Description: Attempts to make old YouTube versions work again.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 11.0), com.ps.ytx, com.ps.youspeed, com.ps.ytclassicvideoquality, com.ps.noytpremium, weeb.lillie.youtubedislikesreturn (>= 1.13.6)
Depiction: https://poomsmart.github.io/repo/depictions/ytlegacy.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/ytlegacy.json
